<div class="container">
    <div class="panel">
        <h4>Log In</h4>
        <p>{{msg}}</p>

        <form>
            <div class="content">
                <label>Email Address</label>
                <input type="email" [(ngModel)]="logInDetails.userEmail" name="userEmail">
                <label>Password</label>
                <input type="password" [(ngModel)]="logInDetails.userPassword" name="userPassword">
                <button (click)="logInUser()">Login</button>
            </div>  
        </form>

        <a routerLink="/signup">Sign Up</a>
        
    </div>
</div>
