*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
}

.panel {
    height: 65vh;
    width: 45vw;
    align-items: center;
    border: 1px solid purple;
    border-radius: 6px;
    margin: 50px 0;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 20px;
    color: dimgray;
}

.content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

label{
    font-family: 'Courier New', Courier, monospace;
    color: dimgray;
    margin-top: 20px;
    margin-left: 40px;
}

input{
    margin-left: 35px;
    margin-right: 35px;
    padding: 8px;
    border: 1px solid dimgray;
    border-radius: 5px;
}

button{
    width: 160px;
    padding: 9px;
    margin-top: 50px;
    align-self: center;
    color: black;
    background-color: #1976d2;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
    color: dimgray;
}

button:hover {
    color: white;
}

a {
    margin-left: 50px;
    text-decoration: none;
    color: darkorange;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: black;
}