<div class="container">
    <div class="panel">
        <h4>Sign Up</h4>
        <p>{{msg}}</p>

        <form>
            <div class="content">
                <label>Full Names</label>
                <input type="text" [(ngModel)]="registrationDetails.userName" name="userName">
                <label>Email Address</label>
                <input type="email" [(ngModel)]="registrationDetails.userEmail" name="userEmail">
                <label>Password</label>
                <input type="password" [(ngModel)]="registrationDetails.userPassword" name="userPassword">
                <button (click)="registerUser()">Register</button>
            </div>
        </form>
    
        <a routerLink="/login">Log In</a>
    </div>
</div>