<div class="container">
    <div class="panel">

        <div class="content">
            <label>Book Title</label>
            <input type="text">
            <label>Book Author</label>
            <input type="text">
            <label>Book Chief Editor</label>
            <input type="text">
            <label>Book Image Link</label>
            <input type="text">
            <label>Published year</label>
            <input type="number">
            <button (click)="saveBook()">Register</button>
        </div>

    </div>
</div>